name: Java CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - develop 
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        working-directory: Login
        run: mvn clean package -DskipTests

      # ===== DOCKER CI =====
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: Login
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/se2-app:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/se2-app:latest


  deploy:
    needs: build
    runs-on: self-hosted
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Deploy
        working-directory: Login
        run: |
          docker compose pull
          docker compose up -d
          
